#error-log-container {
    display: none;
}

#event-log-container {
    display: none;
}

.log_details_row {
    column-count: 4;
    display: none;
}

.log_details_container {
    max-height: 0;
    overflow: hidden;
    transition: max-height 0.2s ease-out;
    width: 100%;
}

.table_body {
    border-collapse: collapse;
    width: 100%;
    table-layout: fixed;
}

.table_cell {
    border: 1px solid black;
}

.table_row {
    height: min-content important!;
}