.red {
background-color: red;
}
.blue {
background-color: blue;
}
html {
height: 100%;
}
body {
background: rgb(105,101,172);
background: linear-gradient(137deg, rgba(105,101,172,1) 0%, rgba(78,78,177,1) 34%, rgba(10,159,189,1) 100%);
background-repeat: no-repeat;
background-attachement: fixed;
}
