.unselectable {
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
  }
  html {
    height: 100%;
  }
  body {
    display: flex;
    flex-flow: row nowrap;
    height: 100%;
    overflow-x: hidden;
    overflow-y: hidden;
    margin: 0px;
    width: 100%;
  }

  .button_class {
    color: white;
    background-color: DodgerBlue;
    border-radius: 15px;
    margin-top: 6px;
    border: none;
    font-family: "Arial Black";
    font-size: 15px;
    height: max(50px);
    display:inline-flex;
    align-items:center;
    justify-content:center;
  }

  .button_class:hover {
    background-color: #571fff;
  }