.login_interface_class {
  /*Set the login interface to the size of the window.*/
  width:100%;
  height:100%;

  /*Make it a flex container*/
  display: flex;

  /*Align the child div(login_box) in the center vetically and horizontally.*/
  justify-content: center;
  align-items: center;

  background: #f2f2ff;
}
.login_box_class {
  /*Set the width of the login-box to a fraction of the screen*/
  width: 30%;
/*  min-height: 25%;*/

  /*Set up the flex properties*/
  display: flex; /*Make this a flex parent. It's already a flex child.*/
  flex-direction: column; /*Arrange the content (login_top mid and bot) vertically*/
  flex-shrink: 0; /*Shrink the login box to fit the content*/
  justify-content: center;

  /*Set the color white*/
  background-color: #f2f2ff;

  /*Round the corners of the login interface.*/
/*  border-radius: 5%;*/

  /*Create shadows for the login box, for all major browsers.*/
  -moz-box-shadow: 10px 10px 20px #000000;
  -webkit-box-shadow: 10px 10px 20px #000000;
  box-shadow: 10px 10px 20px #000000;

  /*Provide padding (distance between content and borders)*/
  padding: 3%;

  border: 32px solid;
  border-image-repeat: repeat;
  border-image-source: url("/border.png");
  border-image-width: 32px;
  border-image-slice: 32;
}
.login_top_class {
  /*Apply font styling to the Login text.*/
  font-size: 25px;
  font-family: "Arial Black";
  text-align: center;
}
.login_mid_class {
  /*Adjust the margins around the Username and Password fields.*/
  margin: 3%;
}
.login_bot_class {
  /*Arrange the spacing of the buttons.*/
  display: flex; /*We make this a flex parent to contain the buttons as flex children.*/
  align-content: space-between; /*Spaces buttons evenly.*/
  margin-left: 3px;
  margin-right: 3px;
  flex-direction: column;
}
.login_username_class {
  width:100%;
  border: 0px;
  outline: none;
  margin-bottom: 5%;
  font-family: "Arial Black";
  font-size: 15px;
  background: #f2f2ff;
}
.login_password_class {
  width:100%;
  border: 0px;
  outline: none;
  /*padding-bottom: 5%;*/
  font-family: "Arial Black";
  font-size: 15px;
  background: #f2f2ff;
}
.button_class {
  color: white;
  background-color: DodgerBlue;
  border-radius: 15px; 
  padding: 4%;
  margin-top: 6px;
  border: none;
  font-family: "Arial Black";
  font-size: 15px;
  height: max(50px);
  display:inline-flex;
  align-items:center;
  justify-content:center;
}



.top_pane_class {
  width:94%;
  margin-left: 3%;
  margin-right: 3%;
  height:10%;
  display:flex;
  justify-content: center;
  align-items: center;
  border-bottom: 1px solid #e2e2e2;
}
.banner_class {
  text-align:center;
  font-weight:bold;
  font-size: 45px;
  font-family: 'Goldman', cursive;
  color:#000066;
}
.bottom_pane_class {
  width:100%;
  height:90%;
  flex-grow:1;
  display:flex;
  flex-direciton: row;
}
.left_pane_class {
  width: 20%;
  margin-top: 2%;
  margin-bottom: 2%;
  position: relative;
  border-right: 1px solid #e2e2e2;
  margin-left: 1%;
  margin-right: 1%;
}
.middle_pane_class {
  width: 60%;
  height: 100%;
  display: flex;
  flex-direction: column;
}
.right_pane_class {
  width: 18%;
  margin-top: 2%;
  margin-bottom: 2%;
  margin-left: 1%;
  margin-right: 1%;
  position: relative;
  border-left: 1px solid #e2e2e2;
}
.chat_interface_class {
  display: flex;
  flex-direction: column;
  width:100%;
  border: 32px solid;
  border-image-repeat: repeat;
  border-image-source: url("/border.png");
  border-image-width: 32px;
  border-image-slice: 32;
  background: #f2f2ff;
}



.column_user_area_class {
  /*height: 100%;
  width: 20%;*/
}
.column_chat_area_class {
  /*height: 80%;
  width: 100%;*/
  flex-grow: 1;
  padding-top: 0%;
  padding-bottom: 1%;
  overflow-y: auto;
  background-color: #f2f2ff;
  border-bottom: 1px solid #e2e2e2;
}
.column_avail_games_area_class {
  /*height: 100%;
  width: 20%;*/
}



.user_area_class {
  
}
.user_wrapper_class {
  margin-left: 2%;
  margin-right: 2%;
  margin-top: 2%;
  width: 95%;
  background-color: #f2f2ff;
  border-radius: 15pt;
}
.user_class {
  width: 100%;
}
.contact_dev_button_class {
  width: 96%;
  margin-right: 4%;
  bottom: 0px;
  position: absolute;
}



.chat_area_class {
  width: 100%;
  height: 100%;
  flex-grow: 1;
  background-color:#f2f2ff;
}
.chat_line_class {
  word-wrap: break-word;
  padding-left: 2%;
  padding-right: 2%;
  padding-top:1%;
  padding-bottom:1%;
  border-radius: 15px;
}
.chat_line_wrapper_class {
  background-color: #CCEEFF;
  border-radius: 15px;
  margin-left: 1%;
  margin-right: 1%;
  margin-bottom: 2%;
}
.chat_line_message {

}
.chat_line_user {

}



.input_text_wrapper_class {
  display: flex;
  flex-flow: row nowrap;
}
.input_text_class {
  width: 100%;
  outline: none;
  border-width: 0px;
  margin-top: 4px;
  box-sizing: border-box;
  resize: none;
  background: #f2f2ff;
}
.send_button_class {
  border-radius: 5px;
  outline: none;
}
.send_button_class:focus {
  outline: none;
}





.avail_games_area_class {

}
.avail_games_wrapper_class {

}
.avail_game_class {

}
.start_new_game_button_class {
  width: 96%;
  margin-left: 4%;
  position: absolute;
  bottom: 0px;
}


html {
height: 100%;
}
body {
/*background: rgb(105,101,172);
background: linear-gradient(137deg, rgba(105,101,172,1) 0%, rgba(78,78,177,1) 34%, rgba(10,159,189,1) 100%);
background-repeat: no-repeat;
background-attachement: fixed;*/
display: flex;
flex-flow: row nowrap;
height: 100%;
overflow-x: hidden;
overflow-y: hidden;
margin: 0px;
width: 100%;
}
